:root {
    --h2-size: 24px;
    --p-size: 18px;
    --logo-color: #38A655;
    --green-color: #1C933B;
    --grey-color: #F5F5F5;
    --black-color: #2B2828;
    --max-width: 1150px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    font-family: 'Cardo', serif;
}

h1 {
    font-size: 32px;
    line-height: 48px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-size: 18px;
    line-height: 35px;
    color: var(--black-color);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black-color);
}

/* navigation */
nav {
    background-color: #5A5A5A;
    color: var(--grey-color);
    position: sticky;
    top:0;
    left: 0;
    height: 9vh;
    z-index: 44;
    /* padding: 1em 0; */
}

nav .nav-mobile {
    display: none;
}

nav .logo-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-45%);
    z-index: -44;
}

nav .logo-img img {
    width: 90%;
}

nav ul {
    max-width:1200px;
    padding: 0 50px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul .logo-name {
    text-align: center;
    padding: 0.1em 0.8em;
}

nav ul .logo-name a {
    font-size: 20px;
    color: var(--logo-color);
    font-weight: 700;
    line-height: 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul li {
    transition: color 0.8s linear;
}

nav ul li a {
    color: var(--grey-color);
    font-size: 19px;
    font-family: 'Cardo', serif;
    transition: all 0.8s linear;
}

.navAnimation a {
    padding: 0.1em 0.8em;
    position: relative;
    z-index: 0;
}

/* Border from Y to X  */
.navAnimation a:before, .navAnimation a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 1px;
    content: '';
    background: var(--grey-color);
    transition: all 0.3s;
}

.navAnimation a:before {
    left: 0px;
    top: 0px;
}

.navAnimation a:after {
    right: 0px;
    bottom: 0px;
}

.navAnimation a:hover:before, .navAnimation a:hover:after {
    opacity: 1;
    height: 1px;
    width: 100%;
    background-color: var(--green-color);
}

nav ul li a:hover {
    color: var(--green-color);
}

/* home page */
header, 
section {
    margin: 0 auto;
}

.header-wrap {
    position: relative;
    /* min-height: 99vh; */
}

.header-wrap::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url(assets/emerald-powerWashing.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -44;
    outline: 1px solid var(--grey-color);
    outline-offset: -17px;
    background-color: var(--black-color);
}

.header-wrap::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.7);
}

.header-container {
    min-height: 92vh;  
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.header-container div {
    flex-basis: 50%;
}

.header-content {
    color: var(--black-color);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.header-content h1 {
 margin-bottom: 1em;
} 

.header-content p {
    text-align: justify;
    /* margin-top: 1em; */
} 

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
}

.header-buttons button {
    min-width: 100px;
    height: 50px; 
    margin-bottom: 1em;
    border: none;
    padding: 0 2em;
    font-size: 18px;
    line-height: 35px;
    outline: 1px solid var(--green-color);
    outline-offset: -5px;
    font-family: 'Cardo', serif;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s linear;
}

.btn-animation {
    background: transparent;
    position: relative;
    overflow: hidden;
}

.btn-animation:after {
    background: var(--logo-color);
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.3;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-animation:hover:after {
    left: 120%;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-buttons button:hover {
    transform: scale(1.1);
}

.green-button {
    background: linear-gradient(322.96deg, #1C933B 1.56%, rgba(28, 147, 59, 0) 115.8%);
    outline: 1px solid var(--grey-color) !important;

}

.green-button:hover {
    background: linear-gradient(322.96deg, #1C933B 30.56%, rgba(28, 147, 59, 0) 115.8%);
}

/* sections */
.section-container {
    max-width: var(--max-width);
    margin: 0 auto;
    height: auto;
    padding: 3.5em 2em;
    display: flex;
    flex-direction: column;
}
.section-header {
    color: #1C933B;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
}

/* about page */
#about {
    background-color: var(--grey-color);
    height: auto;
}

.about-content p {
    margin-bottom: 2.5em;
}

.about-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-icons div {
    text-align: center;
    width: 250px;
    padding: 1em;
    margin: 1em auto;
}

.about-icons div p {
    margin-top: 0.5em;
    font-weight: bold;
    color: var(--green-color);
}

/* services */
.boxes-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-box {
    margin: 2em auto;
    padding-bottom: 2em;
    width: 450px;
    min-height: 650px;
    outline-offset: -15px;
    outline: 1px solid var(--green-color);
    background-color: var(--grey-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services-box-img,
.services-box-content {
    width: 85%;
    margin: 2em auto;
    text-align: center;
}

.services-box-img {
    height: 40%;
}

.services-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-box-content h2 {
    margin-bottom: 1em;
}

/* gallery page  */
#gallery {
    padding-top: 0;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 5rem 2rem;
}

.gallery-box {
    width: 330px;
    height: 200px;
    margin: 0 auto;
    background-color: #2B2828;
    outline-offset: -8px;
    outline: 1px solid var(--grey-color);
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 
    transform 1.5s cubic-bezier(.5, 0, .5, 1),
    opacity 1.5s linear;
    cursor: pointer;
}

.gallery-box img:hover,
.gallery-box img:focus .gallery-box img {
    transform: scale(1.2);
    opacity: .6;
    outline-offset: -8px;
    outline: 1px solid var(--grey-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 111111;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* width: 80%;
    max-width: 650px; */
    max-width: 60vw;
    max-height: 60vh;
    border: 3px solid;
    border-color:var(--grey-color);
    padding: 10px 10px 5px 10px;
}

.slide {
    display: none;
    text-align: center;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.modal-preview {
    width: 100%;
}

img.preview,
img.modal-preview {
    opacity: 1;
}

img.active {
    opacity: 0.6;
}

.preview:hover,
.modal-preview:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 9px 20px 0 rgba(0, 0, 0, 1);
}
/* Content */
.content {
    border: 5px solid;
    border-color: black;
    background-color: white;
    padding: 10px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 2%;
    border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* @media screen and (max-width: 1050px) {
    .modal-content {
        margin-top: 100px;
        max-width: 800px;
    }
}

}@media screen and (max-width: 1050px) {
    .modal-content {
        margin-top: 100px;
        max-width: 800px;
    }
} */

/* contact section */
#contact {
    background-color: var(--grey-color);
}

.contact-container {
    padding-bottom: 1em;
}

.contact-subheader {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.contact-details {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-height: 600px; */
}

.contact-box {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-box-item {
    margin: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-box-item p {
    width: 80%;
    text-align: left;
}

.contact-box-item a {
  color: var(--black-color);
  transition: all 0.1s linear;
}

.contact-box-item a:hover {
    color:  var(--green-color);
    text-decoration: underline;
  }

.contact-line {
    height: 400px;
    width: 2px;
    background-color: var(--green-color);
}

.contact-form {
    width: 43%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
    background: #fff;
    border: 1px solid var(--green-color);
    font-size: 16px;
    width: 100%;
    margin: 0.9em 0;
    padding: 0.3em;
    font-family: 'Cardo', serif;
    letter-spacing: 1px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--black-color);
    opacity: 1;
}

input[type=submit] {
   width: 40%;
   align-self: flex-end;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   cursor: pointer;
   transition: all 0.7s linear;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

/* footer */
footer {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 45%;
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 15%;
}

.footer-logo h3 {
    color: var(--logo-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 1em;
}

.footer-mobile-h3 {
    display: none;
}

.footer-nav {
    width: 50%;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav li a {
    transition: all 0.3s linear;
}

.footer-nav li a:hover {
    color: var(--green-color);
}

.footer-nav li:last-child {
    border-right: none;
}

.footer-contact {
    width: 30%;
    height: 40%;
}

.footer-contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.footer-contact a {
    font-size: 15px;
    color: var(--black-color);
}

.footer-contact img {
    width: 8%;
    height: 10%;
    object-fit: cover;
    margin-right: 1em;
}

.footer-header {
    text-align: center;
    font-size: 14px;
    margin-top: 1em;
}

.footer-header a {
    font-weight: bold;
    color: var(--green-color);
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */


/* mobile version */
@media only screen and (max-width: 800px) and (orientation:landscape) {
    h1 {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        padding: 0.3em;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
        padding: 0.5em;
        text-align: left;
        line-height: 28px;
    }

    nav {
        height: 15vh;
        width: 100%;
    }

    nav ul .logo-name a {
        font-size: 15px;
        font-weight: 700;
    }

    nav ul li a {
        font-size: 14px;
    }

    nav .logo-img {
        top: 75%;
        left: 50%;
        transform: translateX(-32%);
    }
    
    nav .logo-img img {
        width: 60%;
    }

    /* home page */
    .header-wrap {
        min-height: 85vh;
    }

    .header-wrap::after {
        left: 0%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    .header-container div {
        flex-basis: 100%;
    }
    
    .header-content {
        display: flex;
        /* flex-direction: column;
        justify-content: center; */
        padding: 0em;
        width: 90%;
    }

    .header-content h1,
    .header-content p {
        margin-bottom: 0em;
        text-align: center;
    }

    .header-content p {
        font-weight: normal;
    }

    .header-content h1 {
        margin-top: 1em;
        font-size: 1.5em;
    }

    .header-buttons {
        min-width: auto;
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .header-buttons button {
        width: 155px;
        height: 40px;
        margin-top: 1em;
        font-size: 15px;
        line-height: 30px;
    }

    /* sections  */
    .about-section {
        padding: 2em 2em;
    }

    .section-header {
        margin-bottom: 0.5em;
    }
    
    .about-content p {
        margin-bottom: 1em;
    }

    .about-icons div {
        padding: 0.5em;
        margin: 0.5em auto;
    }

    .about-icons div p {
       text-align: center;
    }

    .about-icons div img {
        width: 40%;
    }

    /* services */
    #services {
        padding-top: 1.3em;
    }
    .services-box {
        min-height: 450px;
        margin: 1em auto 2em auto;
    }

    /* gallery */
    /* .modal-content {
        width: 80%;
        max-width: 550px;
        border: 2px solid var(--grey-color);
        min-height: 80vh;
    } */

    /* contact section */
    .contact-container {
        height: auto;
    }
    .contact-subheader {
        width: 100%;
    }

    .contact-details {
        margin: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contact-box {
        width: 100%;
        word-wrap: break-word;
        white-space: initial;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-box-item {
        width: 45%;
    }

    .contact-box-item img {
        width: 12%;
    }

    .contact-box p {
        line-height: 1.1em;
    }
 
    .contact-line {
        height: 1px;
        width: 100%;
        margin: 2em 0;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    input[type=submit] {
        width: 50%;
    }

    
    /* footer */
    footer {
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    
    .footer-logo {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .footer-logo img {
       width: 10%;
    }
    
    .footer-desktop-h3 {
        display: none;
    }

    .footer-mobile-h3 {
        display: inline-block;
        color: var(--logo-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0.5em;
        font-size: 16px;
    }
    
    .footer-nav {
        width: 70%;
        margin: 1em auto;
    }

    .footer-nav li {
      padding: 0em;
      font-size: 14px;
    }
    
    .footer-contact {
        display: none;
    }
    
    .footer-header {
        font-size: 12px;
    }
}

@media only screen and (max-width: 770px) and (min-width: 760px) and (orientation:portrait) {
    .services-box {
        margin: 1em auto 2em auto;
        /* padding-bottom: 2em; */
    }
    /* contact section */
    .contact-container {
        height: auto;
    }
    .contact-subheader {
        width: 100%;
    }

    .contact-details {
        margin: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contact-box {
        width: 100%;
        word-wrap: break-word;
        white-space: initial;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-box-item {
        width: 45%;
    }

    .contact-box-item img {
        width: 12%;
    }

    .contact-box p {
        line-height: 1.1em;
    }
 
    .contact-line {
        height: 1px;
        width: 100%;
        margin: 2em 0;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    input[type=submit] {
        width: 50%;
    }
}


@media only screen and (max-width: 760px) and (orientation:portrait) {
    h1 {
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        line-height: 30px;
    }

    nav .nav-main{
        display: none;
    }

    nav .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 1em 0 1em;
    }

    nav .nav-mobile .logo-mobile {
        display: flex;
        justify-content: left;
        align-items: center;
        max-width: 65%;
    }

    nav .nav-mobile .logo-mobile img {
        width: 8vh;
        object-fit: cover;
        padding-right: 1em;
    }

    nav .nav-mobile .logo-mobile h3 a {
        display: inline-block;
        font-size: 14px;
        color: var(--logo-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /* menu burger */
    .burger {
        cursor: pointer;
    }

    .burger div {
        width: 35px;
        height: 1px;
        background-color: var(--logo-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 8px;
        transition: all 0.5 linear;
    }

    .nav-mobile-links {
        position: fixed;
        right: 0;
        height: 92vh;
        width: 100%;
        top: 9vh;
        background-color: #5A5A5A;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-mobile-links  li {
        opacity: 0;
        font-size: 16px;
        line-height: 22px;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
    opacity: 0;
    }

    .toggle .line3 {
    transform: rotate(45deg) translate(-6px, -8px);
    }

/* home page */
    .header-wrap::before {
        background-image: url(assets/emerald-mobile.jpg);
    }
    
    .header-wrap::after {
        left: 0%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.);
    }

    .header-container {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.1em;
    }

    .header-container div {
        flex-basis: 100%;
    }
    
    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em;
    }
    
    .header-content h1,
    .header-content p {
        margin-bottom: 2em;
    }
    
    .header-content p {
     text-align: center;
     font-weight: bold;
    }

    .header-buttons {
        min-width: auto;
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-buttons button {
        width: 155px;
        height: 40px;
        margin-top: 1em;
        font-size: 15px;
        line-height: 30px;
    }

    /* about page */
    .about-section {
        padding: 2em 2em;
    }
    
    .about-content p {
        margin-bottom: 2em;
    }

    .about-icons div {
        text-align: center;
        width: 200px;
        padding: 0.5em;
        margin: 0.5em auto;
    }

    .about-icons div img {
        width: 40%;
    }
    
    /* services */
    #services {
        padding-top: 2em;
    }

    .services-box {
        margin: 0 auto 2em auto;
    }

    .services-box-img {
        height: 20%;
    }

    .services-box {
        margin: 0 auto 2em auto;
        min-height: 250px;
        padding-bottom: 0;
    }

    /* gallery page */
    #gallery {
        margin-top: -2em;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem 1rem;
    }
    
    .gallery-box {
        width: 250px;
        height: 180px;
    }
    /* .modal {
        background-color: rgba(0, 0, 0, 0);

    } */

    /* contact section */
    .contact-container {
        height: auto;
    }
    .contact-subheader {
        width: 100%;
    }
    .contact-details{
        margin: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .contact-box {
        width: 100%;
        word-wrap: break-word;
        white-space: initial;
    }

    .contact-box-item img {
        width: 12%;
    }

    .contact-box p {
        line-height: 1.1em;
    }
 
    .contact-line {
        height: 1px;
        width: 100%;
        margin: 2em 0;
    }

    .contact-form {
        width: 100%;
        height: auto;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    input[type=submit] {
        width: 50%;
    }

    footer {
        width: 100%;
        /* margin: 0 auto;
        border: 2px solid red;
        padding: 0.5em 1em; */
    }

    /* footer */
    .footer-container {
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-logo {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .footer-logo img {
       width: 15%;
    }
    
    .footer-desktop-h3 {
        display: none;
    }

    .footer-mobile-h3 {
        display: inline-block;
        color: var(--logo-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0.5em;
    }
    
    .footer-nav {
        width: 90%;
        margin: 1em auto;
    }

    .footer-nav li {
      padding: 0em;
      font-size: 14px;
    }
    
    .footer-nav ul {
        font-size: 16px;
    }
    
    .footer-contact {
        display: none;
    }
    
    .footer-header {
        font-size: 12px;
    }
    
}